.mmm_container {
  background-color: #fff;
}
.mmm_center {
  background-color: #f1f1f1;
}
.mmm_center ul {
  border-radius: .066667rem;
  border: 1px solid #ccc;
}
.mmm_center ul > li h3 {
  overflow: hidden;
  width: 100%;
  padding-left: .426667rem;
  border-bottom: 1px solid #ccc;
}
.mmm_center ul > li h3 span {
  float: left;
  font-size: .32rem;
  height: 1.04rem;
  line-height: 1.04rem;
}
.mmm_center ul > li h3 img {
  float: right;
  width: .4rem;
  height: .093333rem;
  margin-top: .48rem;
}
.mmm_center ul > li ol {
  background-color: #fff;
  overflow: hidden;
}
.mmm_center ul > li ol li {
  float: left;
  width: 33.33%;
  height: 1.04rem;
  line-height: 1.04rem;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.mmm_center ul > li ol li:nth-child(3n) {
  border-right: none;
}
.mmm_center ul > li ol li a {
  font-size: .213333rem;
}
