.mmm_nav {
  background-color: #fff;
  padding-top: .666667rem;
}
.mmm_nav li {
  float: left;
  width: 25%;
  margin-bottom: .426667rem;
}
.mmm_nav li img {
  width: 1.866667rem;
  height: 1.866667rem;
  margin: 0 auto;
}
.mmm_nav li p {
  text-align: center;
  margin-top: .16rem;
  font-size: .24rem;
  font-weight: 700;
}
.mmm_nav li.hide {
  display: none;
}
.recommend_head {
  background-color: #ff841d;
  overflow: hidden;
  padding-left: .266667rem;
}
.recommend_head p {
  float: left;
  height: .933333rem;
  line-height: .933333rem;
  font-size: .32rem;
  font-weight: 700;
  color: #fff;
}
.recommend_head img {
  float: right;
  width: .533333rem;
  height: .533333rem;
  margin-top: .2rem;
  margin-right: .266667rem;
}
