@color:#ff841d;
@bgColor:#f1f1f1;

//导航
.mmm_nav{
    background-color: #fff;
    padding-top: .666667rem;
    li{
        float: left;
        width: 25%;
        margin-bottom: .426667rem;

        img{
            width: 1.866667rem;
            height: 1.866667rem;
            margin:0 auto;
        }
        p{
            text-align: center;
            margin-top:.16rem;
            font-size: .24rem;
            font-weight: 700;
        }
        &.hide{
            display: none;
        }
    }
}

//超值推荐
.recommend_head{
    background-color: @color;
    overflow: hidden;
    padding-left: .266667rem;
    p{
        float: left;
        height: .933333rem;
        line-height: .933333rem;
        font-size: .32rem;
        font-weight: 700;
        color:#fff;
    }
    img{
        float: right;
        width: .533333rem;
        height: .533333rem;
        margin-top: .2rem;
        margin-right: .266667rem;
    }
}


