@color:#ff841d;

.mmm_container{
    width: 100%;
    min-width: 320px;
    max-width: 750px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #f1f1f1;
    height: 5000px;
}

// 头部
.mmm_header{
    height: 1.333333rem;
    background-color: @color;
}